@model HTML_Helpers.Models.Empleado

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/estilos.css")

<div class="inicio">
    
    <header class="header-inicio">
        <h2>Bienvenido al Formulario de Registro</h2>
    </header>

    <div class="posicion-btn">
        <a href="Formulario" class="boton">ACCEDER</a>
    </div>
</div>